// =Flex
.flex {
    display: flex;
}
.flex-auto {
    flex: 1 1 auto;
}
.flex-top {
    align-items: flex-start;
}
.flex-middle {
    align-items: center;
}
.flex-bottom {
    align-items: flex-end;
}
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
@include for-sm {
    .flex-column-sm {
        flex-direction: column;
    }
    .flex-top-sm {
        align-items: flex-start;
    }
    .flex-middle-sm {
        align-items: center;
    }
    .flex-bottom-sm {
        align-items: flex-end;
    }
    .flex-between-sm {
        justify-content: space-between;
    }
    .flex-around-sm {
        justify-content: space-around;
    }
    .flex-start-sm {
        justify-content: flex-start;
    }
    .flex-end-sm {
        justify-content: flex-end;
    }
}