/* purgecss start ignore */
  @tailwind base;
  @tailwind components;
  /* purgecss end ignore */
  @tailwind utilities;

  h1,
.h1 {
  @apply text-5xl font-semibold;
  letter-spacing: -1.5px;
}

h2,
.h2 {
  @apply text-4xl font-medium;
  letter-spacing: -0.5px;
}

h3,
.h3 {
  @apply text-3xl font-medium;
  letter-spacing: 0px;
}

h4,
.h4 {
  @apply text-2xl font-medium;
  letter-spacing: 0.25px;
}

h5,
.h5 {
  @apply text-xl font-medium;
  letter-spacing: 0px;
}

h6,
.h6 {
  @apply text-base font-medium;
  letter-spacing: 0.15px;
}

.subtitle-1 {
  @apply text-base;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  @apply text-base text-sm font-medium;
  letter-spacing: 0.15px;
}

.body-1 {
  @apply text-base;
  letter-spacing: 0.5px;
}

.body-2 {
  @apply text-sm;
  letter-spacing: 0.25px;
}

.navi > li {
@apply pl-3 cursor-pointer;
text-indent: -0.5rem;
}

.boutonEditeur {
    @apply p-1 mr-1 rounded-sm border border-gray-600 h-6 w-6;
}

.boutonEditeurHover:hover {
    @apply p-1 mr-1 rounded-sm border border-gray-600 h-6 w-6;
}

.boutonEditeur:focus {
    @apply outline-none;
}

.editeur a {
    @apply text-jauneLBF font-medium;
}

.bouton-jaune {
    @apply p-1 mr-1 rounded-sm border h-6 w-6 text-gray-900 bg-jauneLBF border-jauneLBF;
}

.bouton-jaune-hover:hover {
    @apply text-gray-900 bg-jauneLBF border-jauneLBF;
}

.bouton-vert {
    @apply p-1 mr-1 rounded-sm border h-6 w-6 text-gray-900 bg-vertLBF border-vertLBF;
}

.bouton-vert-hover:hover {
    @apply text-gray-900 bg-vertLBF border-vertLBF;
}

.bouton-bleu {
    @apply p-1 mr-1 rounded-sm border h-6 w-6 text-gray-900 bg-bleuLBF border-bleuLBF;
}

.bouton-bleu-hover:hover {
    @apply text-gray-900 bg-bleuLBF border-bleuLBF;
}

.bouton-orange {
    @apply p-1 mr-1 rounded-sm border h-6 w-6 text-gray-900 bg-orangeLBF border-orangeLBF;
}

.bouton-orange-hover:hover {
    @apply text-gray-900 bg-orangeLBF border-orangeLBF;
}
.bouton-rouge {
    @apply p-1 mr-1 rounded-sm border h-6 w-6 text-gray-900 bg-rougeLBF border-rougeLBF;
}

.bouton-rouge-hover:hover {
    @apply text-gray-900 bg-rougeLBF border-rougeLBF;
}

//fullCalendar
.fc-unthemed td.fc-today {
  @apply bg-vertLBFT;
}

.fc-timegrid-event .fc-event-main {
    @apply text-gray-900;
}

.event-titre-atelier {
    @apply text-gray-900 text-base font-semibold truncate;
}

.event-img-atelier {
    @apply rounded-sm mx-auto;
}